flask
flask_wtf
numpy
svgwrite
svgpathtools
ipdb # for debugging
enum
pathlib2
scandir
backports.shutil_get_terminal_size

#for inkscape transform
lxml

apt-get install libxml2-dev
apt-get install libxml-dev
apt-get install libxslt1-dev

https://github.com/Klowner/inkscape-applytransforms.git
