{% extends "base.html" %}
{% block content %}
    <h1>Get a quick quote</h1>
<p>
This tool will help you get a quote for laser cut parts, quickly. Currently in beta, once you have chosen your material and uploaded your file, you can send the job request over to our team for approval. Once we have checked it out, we will get in touch with confirmation of the quote, and payment details. We welcome any feedback you wish to give.
</p>
<p>      
Please ensure that you have prepared your file in the following way:
<ul>
    <li>Use Inkscape (<a href="http://inkscape.org/">freely available from here</a>)</li>
    <li><b>Download our <a href="{{ url_for('static', filename='template.svg') }}">template</a> as a basis for your design (Right-click and save as).</b></li>
    <li>Place your design within the template ensuring all parts are within the yellow rectangle.</li>
    <li>Create all designs in vector format, and paths only (no fills).</li>
    <li>Before exporting, select all parts of the design and convert them to curves (ctrl-shift-c).</li>
    <li>Save the file as an Inkscape .svg file.</li>
    <li>Select your material for the quote.</li>
    <li>Browse for the file on your computer.</li>
    <li>Upload your file for a fast initial quote!</li>
</ul>
</p>
    <form method="POST" enctype="multipart/form-data">
      {{ form.hidden_tag() }}

<!--
      <h3>Inkscape SVG file preparation instructions</h3>
      <ul>
      <li>Edit - Select All</li>
      <li>Path - Object to Path</li>
      </ul>
      -->

      <h3>Select your material</h3> {{ form.material_id }}<br>
      <h3>Upload your SVG</h3> {{ form.svg }}<br>
      <input type="submit" value="Upload">
  </form>
{% endblock %}
